.cells {
  $inset: calc((1 - var(--cells-scale)) / 2 * 100vw);

  position: absolute;
  z-index: -1;
  left: $inset;
  right: $inset;

  top: $inset;
  padding: var(--cells-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cells-min), 1fr));
  gap: var(--cells-gap);

  &__item {
    position: relative;
    aspect-ratio: 1 / 1;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--cells-color);
      opacity: 1;
      transition: opacity 3s;
    }

    @include hover-on {
      background-image: linear-gradient(var(--gradient));
      background-size: 100% var(--wrapper-height);
      background-position: center var(--offset-top);
      will-change: background-position;

      &:hover::after {
        opacity: 0;
        transition: opacity 0s;
      }
    }
  }
}