.portfolio {
  &__title {
    margin-bottom: 20px;
    @extend %font-size-title-md;
  }

  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    @include breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  &__box {
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    box-shadow: 2px 2px 8px black;
  }

  &__list {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint-down(sm) {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  &__item {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        --index: #{$i};
      }
    }

    flex: 1 1 auto;
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: whitesmoke;
    background-color: rgba(black, .85);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition-property: transform, background-color;
    transition-duration: .2s, .4s;
    transition-timing-function: ease, ease;
    transition-delay: calc(var(--index) * -.1s + .4s), 0s;

    @include breakpoint-down(sm) {
      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    &:first-child {
      @include breakpoint-down(sm) {
        grid-row: span 3;
        transform: translateX(-100%);
      }
    }

    &:not(:first-child):hover {
      background-color: rgba(black, .5);

      .portfolio__link {
        color: darken(wheat, 20%);
      }
    }

    &--description {
      flex: 2 0 auto;
      padding: 20px;
    }
  }

  &__box:hover &__item {
    transform: translateX(0);
    transition-delay: calc(var(--index) * .1s - .1s), 0s;
  }

  &__preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}