$stops: (
  0, 
  var(--gradient-stop-transition), 
  calc(var(--gradient-stop-transition) + var(--gradient-stop-space)), 
  calc(var(--gradient-stop-transition) * 2 + var(--gradient-stop-space))
);
$gradient-function-base: linear-gradient(var(--gradient));
$gradient-function-over: linear-gradient(var(--base-color) nth($stops, 1),
  transparent nth($stops, 2) nth($stops, 3),
  var(--base-color) nth($stops, 4));
// $gradient-function-over: linear-gradient(transparent, transparent);
$begin: calc(-1 * nth($stops, 4) - var(--gradient-background-position-offset));
$end: calc(var(--gradient-background-size) + $begin);


.wrapper {
  position: relative;
  z-index: 1;
  background-color: var(--base-color);
  background-image: $gradient-function-over, $gradient-function-base;
  background-repeat: repeat, no-repeat;
  background-size: 100% var(--gradient-background-size), 100% 100%;
  background-position: center $begin, center;
  overflow: hidden;
  animation-name: motion;
  animation-duration: var(--gradient-animation-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes motion {
  0% {
    background-position: center $begin, center;
  }

  100% {
    background-position: center $end, center;
  }
}